/*sidebar navigation*/
.sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
  height: 12rem;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: -2px 0 5px 1px rgba(182, 182, 182, 0.2) inset;
  overflow: hidden;
  transition: 1s;
  padding-right: 0rem;
  z-index: 2;
}
.sidenav a {
  display: flex;
  align-items: center;
  height: 8%;
  background-image: url('https://image.ibb.co/g5sxUk/pobrane.png');
  padding-left: 32px;
  text-decoration: none;
  font-size: 4vh;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(231, 231, 223, 1);
  transition: 0.4s;
  cursor: pointer;
}
.sidenav a:hover {
  color: white;
  background-image: none;
  background-color: /*rgb(9, 133, 71)*/ rgb(12, 136, 185);
  opacity: 1;
}
.sidenav .closebtn {
  align-self: flex-end;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-size: 2.6rem;
  width: 3rem;
  padding: 0;
  background: transparent !important;
}
.sidenav .closebtn:hover {
  color: rgb(248, 8, 8);
}
