body{
  padding: 0;
  margin:0;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
header{
  display:flex;
  align-items: flex-end;
  width: 100%;
  height: 8rem;
  background-color: rgb(28, 27, 66);
  margin-bottom: 1rem; 
  z-index: 1;
}

/*logo*/
.logo{
  position: absolute;
  top: 0;
  left: 40%;
  color: white;
  font: 1rem cursive;
  background: rgb(184, 135, 63);
  padding: 0.5rem;
}

/*sidebar navigation*/
.sidenav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 1rem;
  height: 100%;
  top: 0;
  left: 0;
  background-color:/*rgb(36, 34, 34)*/ black;
  overflow: hidden;
  transition: 0.6s;
  z-index: 2;
  opacity: 1;
}
.sidenav div{
  display: flex;
  align-items: center;
  height: 8%;
}
.sidenav div a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(231, 231, 223);
  transition: 0.4s;
  cursor: pointer;
}

.sidenav div:hover {
  color: white;
  background-color:rgb(61, 60, 60);
}

.sidenav #closeIcon {
  align-self: flex-end;
}

.sidenav #closeIcon a {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-size: 2.6rem;
  width: 3rem;
  padding: 0;
}

.sidenav #closeIcon:hover{
  background: transparent;
}

.sidenav #closeIcon:hover a{
  color: rgb(248, 8, 8);
}

#menuIcon {
  align-self: center;
  color: white;
  background-color: transparent;
  width: 5%;
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;
}




/*straight menu */
header .menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
  width: 90%;
  height: 50%;
}
header .menu div{
  background:rgb(230, 231, 228);
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.2rem;
  cursor: pointer;
} 
header .menu div:hover{
  background: green;
}
header .menu div:hover a{
  color: white;
}
a{
  color: rgb(17, 15, 131);
  text-decoration: none;
  font-weight: 600;
}


.main{
  flex: auto;
  width: 80%;
  padding-bottom: 5rem;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;
}

.common{
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
}
/*
.popupWindow{
  position: absolute;
  left: 50vw;
  top: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  width: 300px;
  height: 400px;
  background: rgb(14, 13, 14);
  color: white;
  border-radius: 1rem;
  box-shadow: 0 2px 0.3rem 0.1rem rgb(199, 194, 187); 
}

.popupWindow .close{
  align-self: flex-start;
  transform: scale(2);
}*/


.product {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Lato;
  width: 200px;
  height: 300px;
  box-shadow: 0 2px 0.3rem 0.1rem rgb(199, 194, 187);
  transition: 2s;
  transform-style: preserve-3d;
  background: white;
  pointer-events: none;
}
.product::before{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateY(180deg);
  content: "Call us : 555-65-77-08";
  background: rgb(22, 22, 22);
  color: white;
}
.product:hover{
  transform: rotateY(180deg);
}

.top{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  border-bottom: 1px rgb(151, 147, 146) solid;
}
.top span{
  height: 70%;
  width: 70%;
}
img{
  height: 430px;
}
.top img{
  width: 100%;
  height: 100%;
}
.bottom{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(106, 91, 161)/*#747373*/;
}

.bottom span{
  text-decoration: underline;
  font-weight: 900;
}
.bottom button{
  width: 7rem;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(15, 15, 15);
  color:white;
  padding-bottom: 5px;
  border-radius: 0.2rem;
  border:none;
  outline: none;
  cursor:pointer;
  pointer-events: auto;
}

.bottom button:hover{
  background: rgb(1, 85, 1);
}

footer{
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: rgb(54, 53, 53);
  color: rgb(202, 199, 199);
}
.copyright{
  font-weight: 900;
}




@media (max-width: 900px) {
header .menu{
  display: none;
}
header #menuIcon{
  width: 10%;
}
}