body {
  padding: 0;
  margin: 0;
  background-color: rgb(214, 220, 230);
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.overlay1,
.overlay2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.overlay2 {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
#root > .overlay2 ~ .overlay2 {
  filter: blur(5px);
  z-index: 9;
}
.popupWindow {
  position: absolute;
  top: calc(50% - 100px);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  min-height: 100px;
  background: rgb(255, 255, 255);
  color: black;
  z-index: 99;
  padding: 1rem;
  box-sizing: border-box;
  overflow: scroll;
  pointer-events: none;
}
.popupWindow .close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
  height: 4rem;
  width: 95%;
  color: rgb(119, 117, 117);
  background: #f9f9f9;
  font-size: 1.5rem;
  font-weight: 100;
  border: 1px solid #e0d9d9;
}
.popupWindow .close :nth-child(1) {
  display: inline-flex;
  align-items: center;
  height: 3rem;
}
.popupWindow .close :nth-child(1),
.close :nth-child(2) {
  background: #fffac5;
  color: rgb(77, 74, 74);
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-right: auto;
  border: 1px solid #e0d9d9;
}
.popupWindow .close :nth-child(2) {
  display: inline-flex;
  align-items: center;
  background: #fff799;
  margin-right: 1rem;
  cursor: pointer;
  height: 2rem;
  pointer-events: auto;
}
.popupWindow .close :nth-child(2):hover {
  background: #f5e754;
}
.popupWindow .close :nth-child(3) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 900;
  width: 3rem;
  height: 3rem;
  color: #606163;
  background: #ececec;
  border: 1px solid #e0d9d9;
  margin-right: 0.5rem;
  pointer-events: auto;
}
.popupWindow .close :nth-child(3):hover,
.popupWindow .cartItem .del:hover {
  color: white;
  background: rgb(58, 56, 56);
  cursor: pointer;
}
.popupWindow .cartItem {
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
  height: 5rem;
  border: 1px solid #e0d9d9;
  box-shadow: 1px 1px 4px 1px #d6dbdb;
  background: white;
}
.popupWindow .cartItem .del {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  color: white;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}
.popupWindow .cartItem .quantity{
  display: inline-flex;
  justify-content: space-between;
  width: 5rem;
}
.popupWindow .cartItem .quantity span{
  pointer-events: auto;
  display: inline-block;
  border:1px solid black;
  width:1.5rem;
  text-align: center
  ;
  cursor: pointer;
}

.popupWindow .cartItem img {
  height: 100%;
  width: 5rem;
  border-right: 1px solid #e0d9d9;
}

/*common css*/
.select {
  text-align-last: center;
  color: /*rgba(13, 120, 207)*/ rgb(255, 251, 251);
  border: 0.1rem rgb(196, 193, 193, 0.5) solid;
  outline: none;
  cursor: pointer;
  background: rgb(0 0 0 / 90%);
  font: 1.2rem Verdana, sans-serif;
  margin: 0;
  padding: 0.3rem;
}

button {
  border-radius: 0.2rem;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.3rem;
  padding-top: 0.1rem;
  font-size: 1.3rem;
  background: rgb(2, 179, 61);
}
button:hover {
  background: rgb(28, 183, 194);
  cursor: pointer;
}

input {
  width: 85%;
  height: 100%;
  font-family: Verdana, sans-serif;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 0.2rem 0 0 0.2rem;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/*sidebar navigation*/
.sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
  height: 88%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: -2px 0 5px 1px rgba(182, 182, 182, 0.2) inset;
  overflow: hidden;
  transition: 1s;
  padding-right: 0rem;
  z-index: 2;
}
.sidenav a {
  display: flex;
  align-items: center;
  height: 8%;
  background-image: url('https://image.ibb.co/g5sxUk/pobrane.png');
  padding-left: 32px;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(231, 231, 223, 1);
  transition: 0.4s;
  cursor: pointer;
}
.sidenav a:hover {
  color: white;
  background-image: none;
  background-color: /*rgb(9, 133, 71)*/ rgb(12, 136, 185);
  opacity: 1;
}
.sidenav .closebtn {
  align-self: flex-end;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-size: 2.6rem;
  width: 3rem;
  padding: 0;
  background: transparent !important;
}
.sidenav .closebtn:hover {
  color: rgb(248, 8, 8);
}
.sidenav .langSwitch {
  display: flex;
  justify-content: center;
  height: 8%;
  width: 5rem;
}

/*whole header*/
header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: rgb(8, 43, 66);
  background: url(https://sm.ge/templates/default/assets/images/patterns/debut-light.png),
    linear-gradient(#eee, #fafafa);
  border-bottom: 1px solid #eaeaea;
  z-index: 1;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 50%;
}

/*Menu icon at top left*/
#menuIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  color: rgb(20, 140, 170);
  background-color: transparent;
  width: 13rem;
  height: 70%;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  animation: menuIcon 6s infinite;
}
#menuIcon span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menuIcon svg {
  cursor: pointer;
  color: rgb(14, 13, 13);
}

/*searchbar in header */
#searchBar {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24rem;
  height: 70%;
  font: 1.2rem 'Cookie', cursive;
}
#searchBar span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  background: rgb(214, 207, 207);
  border: 1px solid rgb(190, 184, 184);
  border-radius: 0.2rem;
}
#searchBar span:hover+.searchResult,.searchResult:hover{
  display: flex;
}
#searchBar span input {
  text-indent: 1rem;
}
#searchBar .searchIcon {
  cursor: pointer;
  width: 15%;
  height: 70%;
  color: rgb(44, 41, 41);
}
#searchBar span .searchIcon:hover {
  color: rgb(37, 99, 170);
}
#searchBar input:focus::-webkit-input-placeholder {
  transition: 0.5s;
  transform: translate(0px, -12px);
  font-size: 0.8rem;
}
.searchResult {
  display: none;
  flex-direction: column;
  flex-flow: column wrap;
  position: relative;
  height: 260px;
  width: 90%;
  margin-top: -2px;
}
.searchResult a {
  width: 85%;
  padding: 7px;
  box-sizing: border-box;
  color: black;
  border: 1px solid rgb(223, 218, 218);
  background-color: rgb(240, 241, 241);
  z-index: 2;
}
.searchResult a:hover {
  opacity: 1;
  background-color: black;
  color: white;
}

/*Admin panel form*/
#admin {
  display: flex;
  justify-content: flex-start;
  width: 2rem;
  height: 70%;
}
#admin a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  column-gap: 0.1rem;
  font-size: 1.6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  background: rgb(9, 64, 100);
  background: transparent;
  border-radius: 0.4rem;
}
#admin a span {
  font-size: 1.6rem;
}

.langSwitch {
  display: flex;
  align-items: center;
  height: 70%;
  width: 5rem;
  color: white;
}
.langSwitch .select {
  display: inline-flex;
  height: 80%;
  width: 80%;
  padding: 0 0 0 15%;
  text-align-last: left;
  background: #094064;
  background: rgb(41, 40, 40);
  border-radius: 0.2rem;
}
.langSwitch .select option {
  padding-left: 1rem;
}

/*admin form*/
form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  height: 320px;
  width: 500px;
  border-radius: 0.2rem;
}

form::after {
  position: absolute;
  top: 16px;
  left: 0px;
  right: 0px;
  bottom: -10px;
  content: '';
  /*border: 2px solid rgba(145, 143, 143, 0.493);*/
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border-radius: 0.2rem;
  background: rgb(255, 255, 255);
  z-index: -1;
}
form label {
  padding: 0.3rem;
  background: rgba(0, 0, 0, 0.76);
  color: white;
  margin-bottom: auto;
}
form div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 15%;
  border-radius: 2rem;
  border: 1px solid #ddd;
  padding: 0.1rem;
  color: rgb(131, 138, 139);
}
form .addCategory {
  width: 80%;
  justify-content: flex-start;
  text-indent: 0;
}
form .addCategory .select {
  width: 30%;
  background-color: rgb(248, 248, 248);
  color: rgb(77, 76, 76);
}
form .addCategory svg {
  margin-left: 1rem;
}
form svg {
  width: 8%;
}
form input {
  margin-top: 0;
  width: 85%;
  height: 90%;
  font-size: 1rem;
}
form button {
  margin-top: auto;
  height: 13%;
  width: 85%;
  padding: 0.5rem;
  padding-top: 0.3rem;
  /*background: #1876f3;
  background: rgb(12, 219, 12);*/
  border-radius: 2rem;
}

/*straight menu */
header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  width: 90%;
  height: 50%;
}
header .menu a {
  position: relative;
  background: transparent;
  color: rgb(17, 17, 17);
  padding: 0.3rem;
  height: 38%;
  font: 1.1rem Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.menu a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: /*#fff*/ black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu a:hover:after {
  width: 100%;
  left: 0;
}
.menu a:hover {
  opacity: 0.7;
}

/*products page content*/
.main {
  flex: auto;
  display: flex;
  justify-content: center;
  row-gap: 1rem;
  width: 100%;
  margin-top: 8rem;
  padding: 2rem 0 5rem 0;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 2px 0.3rem 0.1rem rgb(199, 194, 187);
}
.products {
  flex: 0 0 78%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20vw);
  grid-template-rows: 50px;
  grid-auto-rows: 30vw;
  justify-content: center;
  grid-gap: 2rem;
  max-width: 78%;
}
.product {
  display: flex;
  flex-direction: column;
  font-family: Lato;
  box-shadow: 0 2px 0.3rem 0.1rem rgb(199, 194, 187);
  transition: 2s;
  transform-style: preserve-3d;
  background: white;
  pointer-events: none;
}
.product:hover {
  box-shadow: 0 0 0.3rem 0.1rem rgb(121, 118, 115);
}
.sort {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.2rem;
  height: 3rem;
  background: #094064 /*#ff1e38;*/;
  border-bottom: 2px solid rgb(77, 74, 74);
}
.sort span {
  display: flex;
  align-items: center;
  height: 72%;
  background: transparent;
  color: white;
  font: 1.3rem Verdana, sans-serif;
  font-weight: bold;
}
.sort .select {
  background: transparent;
}
.sort .select option {
  color: black;
}

.categoried {
  flex: 0 0 20%;
  max-width: 20%;
  height: 18rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0rem;
  background: transparent;
  box-shadow: 0 0 3px 1px #c9cccc;
}
.categoried .typografy,
.categoried > span {
  font-weight: 900;
  font-size: 1.3rem;
  color: rgb(48, 47, 47);
  margin-bottom: 0.5rem;
}

.categoried .select {
  width: 85%;
  color: rgb(92, 90, 90);
  background: #fafafa;
}
.slider {
  width: 90%;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  background: #fafafa;
}
.slider div > span {
  width: 85%;
}
.slider p {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  color: rgb(34, 33, 33);
}
.slider p input:nth-child(1),
.slider p input:nth-child(2) {
  text-align: center;
  border: 1px solid #b4b7b9;
  width: 3rem;
  border-radius: 0.2rem;
  color: rgb(88, 88, 88);
}
.slider p input:nth-child(1) {
  width: 2.5rem;
}

.animated::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateY(180deg);
  content: 'Call us : 555-65-77-08';
  background: rgb(22, 22, 22);
  color: white;
}
.animated:hover {
  transform: rotateY(180deg);
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58%;
  border-bottom: 1px rgb(190, 189, 189) solid;
}
.top a{
  width: 100%;
  height: 100%;
}
.top img {
  width: 100%;
  height: 100%;
  pointer-events: auto;
  cursor: pointer;
}
.top img:hover {
  
}
.bottom {
  height: 42%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0rem;
}
.bottom input {
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: underline rgb(17, 66, 158);
  text-indent: 2.3rem;
  text-align: center;
}
.bottom span {
  font-size: 1.2rem;
  color: rgb(56, 56, 58);
  font-weight: 700;
}
.bottom ::placeholder {
  color: rgb(17, 73, 158);
}
.bottom button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10rem;
  height: 2.5rem;
  font-size: 1.3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  pointer-events: auto;
  padding: 0;
}
.bottom button b {
  height: 80%;
}
.bottom button:hover {
  background: black !important;
}

/*other pages,admin panel too*/
.common {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 3rem;
  margin-top: 8rem;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
}
.admin {
  margin-top: 10rem;
}
.admin .main {
  flex: 0;
  margin-top: 0;
  border-top: 2px #393a3a solid;
}
.admin .product {
  pointer-events: auto;
}
.admin #adminDelText {
  position: relative;
  top: 4.5rem;
  background: rgb(37, 37, 37);
  color: white;
  padding: 0.5rem;
}
.main .bottom span button {
  display: none;
}
.admin .main .bottom span {
  display: flex;
  justify-content: center;
  column-gap: 0.1rem;
  text-decoration: none;
  width: 100%;
  height: 20%;
}
.admin .main .bottom button {
  width: 6rem;
}
.admin .main .bottom span input {
  pointer-events: auto;
  text-decoration: none;
  border: 1px solid #b4b7b9;
  width: 60%;
  height: 100%;
  padding: 0;
  font-size: 0.8rem;
}
.admin .main .bottom span button {
  display: inline;
  width: 30%;
  height: 100%;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0;
  z-index: 3;
}
.admin .main .bottom span button:hover {
  background: black;
}

/*for common pages*/
.common .commonContent {
  background: white;
  max-width: 40%;
  padding: 2rem;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
.common .contact {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.contact p {
  display: inline;
  margin-left: 1rem;
  word-wrap: break-word;
}

/*footer of website*/
footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-image: url('https://image.ibb.co/g5sxUk/pobrane.png');
  color: rgb(202, 199, 199);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
}

/*make website responsive*/
@media (min-width: 1250px) {
  .products {
    grid-template-columns: repeat(auto-fill, 15vw);
    grid-auto-rows: 22vw;
  }
}
@media (max-width: 1050px) {
  .products {
    grid-template-columns: repeat(auto-fill, 20vw);
    grid-auto-rows: 32vw;
  }
}
@media (max-width: 950px) {
  .products {
    grid-template-columns: repeat(auto-fill, 27vw);
    grid-auto-rows: 40vw;
  }
  header .menu {
    display: none;
  }
}
@media (max-width: 760px) {
  .headerTop #searchBar {
    width: 20rem;
  }
  .headerTop #admin {
    display: none;
  }
  .headerTop .langSwitch {
    display: none;
  }
  .main {
    flex-direction: column;
    align-items: center;
  }
  .categoried {
    align-self: center;
    min-width: 50%;
    height: 20rem;
  }
  .products {
    min-width: 90%;
    grid-template-columns: repeat(auto-fill, 35vw);
    grid-auto-rows: 48vw;
  }
  .products .select {
    width: 100%;
    background: blue;
  }
  .products .select option {
    color: white;
  }
}
@media (max-width: 560px) {
  .headerTop {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .headerTop #menuIcon {
    height: 30%;
  }
  .headerTop #searchBar {
    height: 30%;
  }
  .headerTop .langSwitch {
    height: 30%;
  }
  .products {
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-auto-rows: 23rem;
  }
  .popupWindow .close {
    font-size: 1rem;
  }
}
